<!DOCTYPE html>
<html>
    <head>
        <title>Página principal</title>
        <meta charset = 'utf-8'>
        <link rel = "stylesheet" href = "https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&display=swap">
        <link rel = 'stylesheet' href = '../static/bootstrap_css/bootstrap.min.css' media = 'screen'>
        <link rel = 'stylesheet' href = '../static/style.css'>
    </head>
    <body>
        <div class = "container">
            <h1>Bem vindo ao flask!</h1>
            <p>Clique <a href="/logout">aqui</a> para sair dessa página e voltar à página principal.</p>
            <div class = 'caixa-sucesso'>
                {% for message in get_flashed_messages() %}
                    <p class = 'mensagem-sucesso'> {{ message }} </p>
                {% endfor %}
            </div>
        </div>
    </body>
</html>