<html>
    <head>
        <title>Login e Senha</title>
        <meta charset = 'utf-8'>
        <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&display=swap" rel="stylesheet">
        <link rel = 'stylesheet' href = '../static/bootstrap_css/bootstrap.min.css' media = 'screen'>
        <link rel = 'stylesheet' href = '../static/style.css'>
    </head>
    <body>
        <div class = 'container'>
            <h1>JND páginas</h1>
            <p>Essa página foi criada com o intuito de produzir um formulário de login e registro, utilizando <i>Flask</i>, um framework Python para web.</p>
            <a target = "_blank" href = "https://www.spiderposts.com/2019/07/04/flask-sqlalchemy-tutorial-login-system-with-python/">Flask</a>
            <div id = 'formulario'>
                <h2>Clique no botão <b>login</b> para logar e <b>register</b> para registrar.</h2>
                <button type = "button" class = "btn btn-primary" onclick = "location.href = 'login';">Login</button>
                <button type = "button" class = "btn btn-danger"  onclick = "location.href = 'register';">Register</button>
            </div>
        </div>
        <script src="bootstrap_js/jquery.js"></script>
        <script src="bootstrap_js/bootstrap.min.js"></script>
    </body>
</html>