<!DOCTYPE html>
<html>
    <head>
        <title>Página principal</title>
        <meta charset = 'utf-8'>
        <link rel = "stylesheet" href = "https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&display=swap">
        <link rel = 'stylesheet' href = '../static/bootstrap_css/bootstrap.min.css' media = 'screen'>
        <link rel = 'stylesheet' href = '../static/style.css'>
    </head>
    <body>
        <div class = "container">
            <h1 style = "display: inline">JND páginas</h1>
            <button type = "button" class = "btn btn-success" onclick = "location.href = '/logout';">Deslogar</button>
            <p>Essa página aparece após um login bem sucedido, e não possui nada pois não era o ponto do desafio criar uma página pós login.</p>
            <div class = 'caixa-sucesso'>
                {% for message in get_flashed_messages() %}
                    <p class = 'mensagem-sucesso'> {{ message }} </p>
                {% endfor %}
            </div>
        </div>
    </body>
</html>